# node_modules folder #
#######################
node_modules/

# google cloud api key #
########################
googlecloud.json

# xmbc connection details #
###########################
connection.json

# news connection details #
###########################
newsorg.json
